        /**********************/
        /*     General        */
        /**********************/
        body,
        html {
            width: 100%;
            height: 100%;
        }

        body {
            background-color: #1b1a1c;
            font-family: 'Open Sans', Helvetica, sans-serif;
            color: #7E7E7E;
        }

        h1 {
            color: #fff;
            font-weight: 900;
            font-size: 2.2rem;
            line-height: 3.25rem;
            font-family: 'inter', sans-serif;
            margin-top: 1.5rem;
            text-decoration: none;
            text-align: center;
        }

        .nav a {
            color: #fff;
        }

        .nav a:hover {
            text-decoration: underline;
        }

        .container-fluid a:hover {
            text-decoration: none;
        }

        .nav-link{
            color: #fff;
            
        }
        
        .container-fluid h1 {
            margin-top: 2.0rem;
            font-family: "inter", sans-serif;
            font-size: 32px;
        }

        .page-container {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 

            width: 100%;
            height: 100%;
        }

        .image {
            margin-left: 20px;
        }

        img {
            max-width: 400px;
            border-radius: 20px;
            margin-right: 30px;
            margin-left: 20px;
            margin-top: 20px;
        }
        img.emojione {
            /*Override any img styles to ensure Emojis are displayed inline*/
            margin: 0px !important;
	        display: inline !important;

            height: auto;
            width: 50px;
        }

        span.emoji {
            font-size: 30px;
            display: inline-block;
            vertical-align: baseline;
            line-height: 25px;
            
        }

        .text-box {
            text-align: left;
            margin: 10px
        }

        .text-box h1 {
                text-align: left;
                margin: 10px;
                font-size: 30px;
                font-weight: 600;
                line-height: 2.5rem;
            }

        .text-box h1 a {
            text-decoration: none;
        }

        .text-box h1 a:hover {
            text-decoration: none;
        }

        .wave:hover {
            animation-name: wave-animation;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            transform-origin: 90% 90%;
            display: inline-block;
        }
        
        @keyframes wave-animation {
            0% {
                transform: rotate( 0.0deg)
            }
            10% {
                transform: rotate(14.0deg)
            }
            20% {
                transform: rotate(-8.0deg)
            }
            30% {
                transform: rotate(14.0deg)
            }
            40% {
                transform: rotate(-4.0deg)
            }
            50% {
                transform: rotate(10.0deg)
            }
            60% {
                transform: rotate( 0.0deg)
            }
            100% {
                transform: rotate( 0.0deg)
            }
        }

        #summary {
            margin: 15px;
        }

        .text-box p {
            color: #fff;
            font-size: 17px;
            margin: 10px;
        }

        .bullet-1 {
            display: flex;
            align-items: baseline;
        }

        .bullet-1 p {
            line-height: 25px;
        }

        /* socials and copyright */
        .socials-copyright {
            /* display: flex; */
            padding-top: 5rem;
            text-align: center;
            bottom: 0;
            right: 0;
            width: 100%;
        }

        .footer {
            padding-top: 9.25rem;
            padding-bottom: 1rem; 
            text-align: center;
        } 

        .social-container a {
            text-decoration: none;
            color: #fff;
        }

        .social-container a:hover {
            text-decoration: none;
        }

        .fa-twitter {
            color: #08a0e9;
        }

        .fa-youtube {
            color: #FF0000;
        }

        .copyright .p-small {
            color: #fff;
            text-align: center;
        }

        /**********************/
        /*     Media Queries  */
        /**********************/

        @media screen and (max-width: 780px){
            /* body{
                background-color: #1f0d0f;
            } */
            .page-container {
                display: contents;
                margin-top: 15px;
                margin-bottom: 20px; 
                align-items: flex-start;
                height: auto;
            }

            .content {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 10px;
            }
            
            .image {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-self: stretch;
                align-items: center;
                margin: 10px; 
                margin-left: 20px;
                margin-right: 20px;
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 15px;
                margin: 10px;
            }

           .text-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
            } 

            .text-box h1 {
                text-align: left;
                font-size: 28px;
                font-weight: 600;
                line-height: 2.5rem;
            }

            #me {
                display: block;
            }

            .text-box p {
                margin: 10px; 
                color: #fff;
                
                font-weight: 400;
                font-size: 19px;
                line-height: 29px;
                
            }

            .footer {
                padding-top: 1rem;
            } 

            .p-small {
                margin-top: 15px;
                color: #fff;
                font-size: 14px;
            } 
            
        }

      